cache:
- "c:\\sr" # stack root, short paths == less problems

# to disable automatic builds
#build: off

environment:
  global:
    STACK_ROOT: "c:\\sr"
    STACK_YAML: "stack-travis-ghc-8.6.yaml"

platform:
- x86
- x64

install:
- if %PLATFORM%==x86 (curl -ostack.zip -L --insecure http://www.stackage.org/stack/windows-i386) else (curl -ostack.zip -L --insecure http://www.stackage.org/stack/windows-x86_64)
- 7z x stack.zip stack.exe
- stack setup > nul
- curl -oCOIN-OR-1.8.0-win32-msvc12.zip -L --insecure https://www.coin-or.org/download/binary/OptimizationSuite/COIN-OR-1.8.0-win32-msvc12.zip
- 7z e COIN-OR-1.8.0-win32-msvc12.zip COIN-OR/win32-msvc12/bin/cbc.exe

build_script:
- git submodule init
- git submodule update

test_script:
# The ugly echo "" hack is to avoid complaints about 0 being an invalid file
# descriptor
- echo "" | stack --no-terminal test --bench --no-run-benchmarks --flag toysolver:BuildToyFMF --flag toysolver:BuildSamplePrograms --flag toysolver:BuildMiscPrograms --flag toysolver:TestCBC

after_test:
- stack runghc --package turtle misc/build_artifacts.hs

artifacts:
  - path: '*.7z'

deploy:
- provider: GitHub
  auth_token:
    secure: OtB2kBvcLy0dwCzILJI9U1yyLpqh31Tgs52BMI2eul9NnbwCCoxfLsCrI+7dZmWN
  artifact: /.*\.7z/
  release: $(appveyor_repo_tag_name)
  description: 'Release description'
  draft: true
  force_update: true
  on:
    appveyor_repo_tag: true
